FEISHU_APP_ID=your_feishu_app_id
FEISHU_APP_SECRET=your_feishu_app_secret
BRIDGE_FEISHU_WS_ENABLED=1
BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=3000
BRIDGE_STORAGE_PATH=./data/bridge.json
BRIDGE_PROJECTS_FILE=./projects.json
